.men{
    margin-top: 100px;
    width: 100;
    height: 100vh;
}
.men-title{
    display: flex;
    height: 70px;
    justify-content: center;
    flex-direction: column;
}
.men-title span{
    font-size: 1.5rem;
    font-family: 'Lucida Sans';
    text-align: center;
}
.underline-product{
    border: 1px black solid;
    width: 1300px;
    margin: 7px auto;
}
.row-men-product{
    margin: 30px auto;
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.row-men-product .col-men-product{
    padding: 5px;
    margin-bottom: 25px;
}