*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

 
/* Navbar */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 55px;
    width: 100%;
    color: rgb(201, 201, 201);
    z-index: 2;
    position: fixed;
    /* box-shadow: 0 1px 8px 2px rgb(109, 109, 109); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* navbar dropdown */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-content{
    position: absolute;
    display: none;
    width: 120px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown .dropdown-content a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover{
    background-color: #e9e8e8;
}


.nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(255, 222, 210);
    font-size: 0.8em;
}
.nav ul li a:hover{
    color: white;
}

/* Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color:  rgb(255, 222, 210);
    border-radius: 3px;
    transition: all 0.5s;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    /* membuat porosnya berada di ujung plg kiri */
    transform-origin: 0 0;  
}

.menu-toggle span:nth-child(4){
    /* membuat porosnya berada di ujung plg kiri */
    transform-origin: 0 100%;  
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}


/* Home */
.home{
    background: url("img/background-img.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;    
}
/* gradasi background 
background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
to top = dari bawah ke atas
rgba(0,0,0,1) = hitam tapi solid
rgba(0,0,0,0)) = hitam transparant

*/
.home::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    display: block;
    position: absolute;

}
.hero-kata{
    z-index: 1;
    width: 800px;
    text-align: center;
}
.home .hero-kata h1{
    font-size: 3rem;
    color: white;
}
.home .hero-kata p{
    font-size: 1.2rem;
    color: white;
    margin-top: 5px;
}
.home .hero-kata button{
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 5px;
    color: white;
    font-family: 'Helvetica';
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid white;
}
.home .hero-kata button:hover{
    background-color: white;
    color: black;
    transition: 1s;
}


/* About */
.container{
    width: 100;
    display: flex;
    margin-top: 100px;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row-reverse;
}
.container div{
    width: 100px;
    height: 550px;
    flex: 1;
    display: flex;
    margin: 5px;
}
.container .about-penjelasan{
    flex-direction: column;
    justify-content: center;

}
.container .about-penjelasan h1{
    margin-bottom: 30px;
}
.container .about-penjelasan p{
    line-height: 2rem;
    margin-bottom: 30px;
}
.container .about-penjelasan button{
    width: 120px;
    padding: 10px 5px;
    border-radius: 7px;
    color: black;
    background-color: white;
}
.container .about-penjelasan button:hover{
    transform: scale(1.075, 1.075);
    transition: 1s;
}
.container .about-img img{
    height: 400px;
    width: 450px;
    margin: auto;
    box-shadow: 8px 9px 20px 0px rgba(0,0,0,0.2);
}
.container .about-img img:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}


/* Product */
.product{
    width: 100;
    margin-top: 50px;
}
.product .product-title{
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product .product-title span{
    margin: auto;
    width: 950px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
#underline{
    background-color: rgb(32, 32, 32);
    height: 2.5px;
    width: 140px;
    margin: 5px auto;
}
.row-product{
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1297.33px;
    height: 1140px;
}
.row-product div{
    margin: 10px;
}
.col-product-empat img{
    margin-top: -430px;
}
.col-product-lima img{
    margin-top: -195px;
}
.col-product-tuju img{
    margin-top: -230px;
}
.col-product-delapan img{
    margin-top: -60px;
}


/* Rsponsive Breakpoint */

/* Ukuran tablet */
@media screen and (max-width: 768px) {
    .nav ul{
        width: 50%;
    }    
}

/* Ukuran mobile */
@media screen and (max-width: 576px) {
    /* menu Toogle */
    .menu-toggle{
        display: flex;
    }
    .nav ul{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }

    /* About */
    .container{
        flex-direction: column-reverse;
        width: 100;
    }
    .container div{
        width: 500px;
        height: 300px;
    }

    /* Our Product */
    .product .product-title{
        text-align: center;
        margin: auto -250px;
    }
    .row-product{
        width: 380px;
        display: flex;
        flex-wrap: wrap;
    }
    .row-product .col-product-tiga{
        margin-bottom: 375px;
    }
    .row-product .col-product-empat{
        margin-bottom: 210px;
    }
    .row-product .col-product-enam{
        margin-bottom: 240px;
    }
    .row-product .col-product-tuju{
        margin-bottom: 75px;
    }
}

